<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- Pode adicionar logotipo ou outros itens aqui -->
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Manifesto</a></li>
        <li><a href="/legislacao">Legislação</a></li>
        <li><a href="/refs">Referências</a></li>
        <li><a href="/quem_somos">Quem somos</a></li>
        <li><a href="/as_praticas">As Práticas</a></li>
      </ul>
    </div>
  </nav>